body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2EFE7;
    display: flex;

}

.sidebar {
    width: 250px;
    background-color: #008DB1;
    color: white;
    display: flex;
    flex-direction: column;
    height: 1000px;
    align-items: center;

}

.sidebar a {
    padding: 20px;
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
}

#menu {
    margin-top: 115px;
}

.sidebar a.actual {
    background-color: #006E8C;
    color: white;
    margin: 0px;
    padding: 20px 98px
}

.sidebar img {
    position: absolute;
}

.main-content {
    flex: 5;
}

.header {
    background-color: #265073;
    height: 115px;
    color: white;
    padding: 0px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.header h1 {
    margin-left: 450px;
}

.tarjetas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.tarjeta {
    background-color: #9AD0C2;
    padding: 10px;
    padding-right: 0px;
    border-radius: 25px;
    width: 320px;
    margin-right: -20px;
    cursor:pointer;
}

.tarjeta img {
    opacity: 50%;
    margin-top: -250px;
    margin-left: 150px;
    padding: 0px;
}

.card h2 {
    margin: 0px;
    font-size: 18px;
    font-weight: bold;
}


#botonesHeader button {
    background-color: #265073;
    align-items: center;
    padding: 0px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

#formularioAgregar {
    background-color: #faf7ed;
    width: 600px;
    height: 450px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 0px;
    display: none; /*flexbox*/
    position: fixed;
    left: 500px;
}

#headerForm1 {
    background-color: #1f4a6e;
    color: white;
    text-align: center;
    padding: 15px;
    height: 40px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px 8px 0 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.entradas {
    padding: 20px;
}

.selector {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.escritura{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-image: linear-gradient(to right, transparent 70%, #2CA5A5 30%);
    background-size: 135% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.selector{
    position: relative;
    width: 100%;
}

.selector::after {
    content: "▼";
    top: 75%;
    position: absolute;
    right: 12px;
    transform: translateY(-50%);
    pointer-events: none;
    color: whitesmoke;
    font-size: 10px;
}

input {
    width: 97%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.botonesForm {
    display: flex;
    justify-content: center;
    gap: 15px;
}

button {
    padding: 10px 20px;
    border: solid 1px black;
    margin-top: 10px;
    border-radius: 15px;
    cursor: pointer;
}

#guardar {
    background-color: #9AD0C2;
}

#cerrar {
    background-color: #f2f2f2;
}

#formularioRegistrarBanco{
    background-color: #faf7ed;
    width: 500px;
    height:350px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 0px;
    display: none; /*flexbox*/
    position: fixed;
    left: 550px;
}

#formularioRegistrarBanco button{
    margin-top: 30px;
}
a {
    color: inherit;
    text-decoration: none;
}