body {
    font-family: Arial, sans-serif;
    background-color: #F4F1EA;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    width: 100%;
    background: #F2EFE7;
    border-radius: 5px;
    margin: auto;
}
#vista{
    margin-left: 20px;
}
h1 {
    margin: auto ;
    background-color: #1F4A69;
    color: white;
    text-align: center;
    padding: 10px;
    height: 80px;
    

    
}

.form-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 15px;
}

label {
    font-weight: bold;
}

input {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

h2 {
    color: #1F4A69;
    margin-top: 20px;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 10px;
    
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #1F4A69;
    color: white;
}

tr:nth-child(odd) {
    background-color: #D6D6D6;
}

tr:nth-child(even) {
    background-color: white;
    
}


.btn {
    background-color: #86B5A8;
    border: none;
    padding: 10px 20px;
    margin: 10px 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.btn.secondary {
    background-color: #E3E3E3;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

.fa-trash-alt {
    color: red;
    cursor: pointer;
}
